{% extends "ad_analytics/base.html" %}
{% load static %}

{% block title %}Campaign {{ object.name }} {% endblock %}
{% block main_title %}Campaign {{ object.name }} {% endblock %}


{% block main %}


<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">All Ads</h3>
      </div>
      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th>Name</th>
            <th>Ad Image</th>
            <th>Target URL</th>
            <th>Impressions</th>
            <th>Clicks</th>
            <th>Click Through Rate</th>
          </tr>

          {% for ad in ads %}
            <tr>
              <td><a href="{% url 'campaign_ad_detail' ad.campaign_id ad.id %}">{{ ad.name }}</a></td>
              <td>
                <img width="300" height="50" src="{{ ad.image }}" alt="600x100">
              </td>
              <td>{{ ad.target_url }}</td>
              <td>{{ ad.impressions_count }}</td>
              <td>{{ ad.clicks_count }}</td>
              <td>{% widthratio ad.clicks_count ad.impressions_count 100 as width %} {{ width }} </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
