{% load static %}

<header class="main-header">
  <a href="/" class="logo">
    <span class="logo-mini"><b>C</b></span>
    <span class="logo-lg"><b>Citus</b> Ad Analytics</span>
  </a>

  <nav class="navbar navbar-static-top" role="navigation">
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        {% if request.user %}
          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">1</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 1 notification</li>
              <li>
                <ul class="menu">
                  <li>
                    <a href="#">
                      <i class="fa fa-book text-aqua"></i> New Weekly Report available
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">View all</a></li>
            </ul>
          </li>
          <li>
            <a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Sign Out</a>
          </li>

        {% else %}
          <li>
            <a href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Sign In</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</header>

<aside class="main-sidebar">
  <section class="sidebar">
    {% if request.user %}
    <div class="user-panel">
      <div class="pull-left image">
        <img class="img-circle" src="{% if company.image %}{{ company.image }}{% else %}{% static 'img/default_avatar.png' %}{% endif %}" style="background-color: white"></img>
      </div>
      <div class="pull-left info">
        <p>{{ company.name }}</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    {% else %}

    <div class="user-panel">
      <div class="pull-left image">
        <img class="img-circle" src="{% static 'img/default_avatar.png' %}" style="background-color: white"></img>
      </div>
      <div class="pull-left info">
        <a href="{% url 'login' %}"><i class="fa fa-circle text-success"></i> Log in</a>
      </div>
    </div>
    {% endif %}

    {% if request.user %}
      <ul class="sidebar-menu">
        <li class="header">HEADER</li>
        <li class="active"><a href="/"><i class="fa fa-bullseye"></i> <span>All Campaigns</span></a>
        </li>
        {% for campaign in campaigns %}
          <li class="treeview">
            <a href="#">
              <i class="fa fa-bar-chart"></i>
              <span>Campaign {{campaign.name|truncatechars:10}}</span>
              <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
              <li><a href="{% url 'campaign_detail' campaign.id %}">Manage Campaign</a></li>
              {% for ad in campaign.ads %}
                <li><a href="{% url 'campaign_ad_detail' campaign.id ad.id %}">Ad #{{ ad.name|truncatechars:30 }}</a></li>

              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </section>
</aside>
